.o-button {
    @extend .common-text;
    padding: 9px 12px;
    text-align: center;
    letter-spacing: 0.02em;
    border: 0;
    border-radius: 100px;
    width: 100%;
    &-full {
        @extend .o-button;
        background-color: $primary-p150;
        color: $neutrals-n000;
        &:hover {
            box-shadow: 0px 8px 20px rgba(72, 74, 96, 0.1);
        }
    }
    &-default {
        @extend .o-button;
        background-color: transparent;
        border: 1px solid $primary-p150;
        color: $primary-p150;
        &:hover {
            box-shadow: 0px 8px 20px rgba(72, 74, 96, 0.1);
        }
    }
    &-default-white {
        @extend .o-button;
        background-color: transparent;
        border: 1px solid $neutrals-n000;
        color: $neutrals-n000;
    }
    &-full-white-before {
        @extend .o-button;
        background-color: $neutrals-n000;
        color: $primary-p150;
        position: relative;
        &::before {
            content: '';
            width: 24px;
            height: 1px;
            background-color: $primary-p150;
            position: absolute;
            right: 18px;
            top: 35px;
        }
    }
}