.o-container {
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
    padding: 0 8px; 
    @include maxpoint($tablet) {
        padding: 0 16px; 
    }
    &--full {
        padding: 0;
    }
}
