
form{

    input{
        width: 100%;
        height: 42px;
        right: 0px;
        top: 22px;
        background: #FFFFFF;
        border: 1px solid #D7D7D7;
        box-sizing: border-box;
        border-radius: 5px;
    }
    label{
        color: $neutrals-n225;
        font-size: 10px;
    }
    span{
        color: $neutrals-n175;
        font-size: 14px;
    }
}
    