#breadcrumbs {
    & > ul.breadcrumbs-list {
        display: flex;
        & > li {
            padding: 11px 0 9px 0;
            & > a {
                @extend .common-text;
                &::after {
                    content: url(/src/images/icons/arrow-right-black.svg);
                    padding-left: 12px;
                    padding-right: 12px;
                }
                &:hover {
                    color: $primary-p150;
                }
            }
            &:last-child {
                & > a {
                    &::after {
                        content: none;
                    }
                }
            }
        }
    }
}