.buyers-guide {
    @include background-default(cover);
    @include flexbox(initial, center);
    background: linear-gradient(89.93deg, #23419A 44.94%, rgba(35, 65, 154, 0) 67.17%), url(/pexels-ketut-subiyanto-4473777.jpg);
    padding-top: 96px;
    padding-bottom: 96px;
    position: relative;
    @include maxpoint($tablet) {
        padding-top: 64px;
        padding-bottom: 64px;
    }
    &::after {
        content: url(/src/images/buyers-exclude-mob.svg);
        position: absolute;
        bottom: 45px;
        @include maxpoint($tablet) {
            content: url(/src/images/buyers-exclude.svg);
            bottom: -4px;
        }
    }
    .o-container {
        padding-left: 16px;
        @include maxpoint($tablet) {
            padding-left: 94px;
        }
    }
    &__content {
        position: relative;
        width: 100%;
        z-index: 2;
        @include maxpoint($tablet) {
            width: 559px;
        }
        span {
            @extend .common-text-sub;
            color: $neutrals-n000;
            margin-bottom: 16px;
        }
        h3 {
            color: $neutrals-n000;
            line-height: 110%;
            font-size: 32px;
            margin-bottom: 16px;
            @include maxpoint($desktop) {
                font-size: 40px;
            }
        }
        p {
            @extend .common-text;
            color: $neutrals-n000;
            margin: 0 0 16px;
        }
        a {
            display: inline-flex;
            width: 164px;
        }
    }
}