.cards {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -8px;
    // width: 100%;
    @include maxpoint($desktop) {
        margin: 0 -16px;
    }
    .card {
        margin-bottom: 24px;
        width: 25%;
        padding: 0 12px;
        &:hover {
            .card-content {
                box-shadow: 0px 8px 20px rgba(72, 74, 96, 0.1);
                &__footer {
                    opacity: 1;
                    visibility: visible;
                }
                &__body {
                    padding-bottom: 80px;
                }
            }
        }
        &-content {
            background-color: $neutrals-n000;
            border-radius: 5px;
            border: 0.5px solid $neutrals-n050;
            position: relative;
            transition: .5s all ease;
            &__header {
                padding: 8px;
                height: 133px;
                transition: .5s all ease;
                @include maxpoint($tablet) {
                    height: 214px;
                }
                img {
                    width: 100%;
                }
            }
            &__body {
                // padding: 57px 16px 24px;
                @include flexbox(column, initial, flex-end);
                padding: 0 16px 24px;
                margin-top: 65px;
                height: 210px;
                // height: 145px;
                display: flex;
                flex-direction: column;
                transition: .5s all ease;
                @include maxpoint($tablet) {
                    height: 182px;
                }
                .subtitle {
                    @extend .common-text-sub;
                    color: $primary-p150;
                    font-size: 11px;
                    margin-bottom: 8px;
                }
                .title {
                    @extend .common-h6;
                    margin-bottom: 9.67px;
                }
                .rate {
                    display: flex;
                    margin-bottom: 8px;
                    &-counts {
                        // font-family: Founders Grotesk;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 140%;
                        color: $neutrals-n150;
                    }
                }
                .price {
                    // font-family: Founders Grotesk;
                    @extend .common-text;
                    color: $primary-p150;
                }
            }
            &__footer {
                position: absolute;
                width: 100%;
                bottom: 0;
                transition: .5s all ease;
                opacity: 0;
                visibility: hidden;
                padding: 0 16px;
                .o-button-full {
                    margin-bottom: 24px;
                }
            }
        }
        &__content {
            

            // Reviews Card
            &--reviews {
                max-width: 258px;
                height: auto;
                padding: 16px;
                border-radius: 5px;
                background: $neutrals-n000;

                @include maxpoint($tablet) {
                    padding: 24px 24px 29px;
                }

                .rate {
                    display: inline;
                }
                .rate .rate-stars{
                    display: inline-block;
                    margin: 0 0 8px;
                }
                .customer-name {
                    color: $neutrals-n250;
                    text-transform: capitalize;
                    font-size: 12px;
                    line-height: 17px;
                    border-top: none;
                    vertical-align: top;
                    padding: 0 0 0 7px;
                    margin: 0 0 0 6px; 
                    position: relative;
                    display: inline;

                    &::before {
                        content: '';
                        width: 1px;
                        height: 15px;
                        position: absolute;
                        background-color: $neutrals-n075;
                        left: 0;
                        top: 5px;
                    }
                }
                p {
                    color: $neutrals-n200;
                    padding: 0 0 39px;
                    border-bottom: 1px solid $neutrals-n075;
                }
                span {
                    color: $primary-p150;
                    font-family: $primary-font;
                    padding: 12px 0 0;
                    font-size: 10px;
                    line-height: 14px;
                    font-weight: 500; 
                    display: block;

                }
            }
        }
    }
    .rate-stars {
        margin-right: 6px;
    }
}