.carrier-services {
    padding-top: 70.85px;
    padding-bottom: 49px;
    .o-container {
        padding-left: 15.4px;
    }
    &__main {
        @include flexbox(column, initial, space-between);
        @include maxpoint($tablet) {
            @include flexbox(initial, initial, space-between);
        }
        &--holder {
            position: relative;
            width: 100%;
            margin-bottom: 32px;
            &:last-child {
                margin-bottom: 0;
            }
            @include maxpoint($tablet) {
                width: 352px;
            }
            &::before {
                position: absolute;
                width: 16px;
                height: 16px;
                left: 0;
                top: 0;
            }
            &.support {
                &::before {
                    content: url(/src/images/icons/support.svg);
                }
            }
            &.tested {
                &::before {
                    content: url(/src/images/icons/tested.svg);
                }
            }
            &.authorized {
                &::before {
                    content: url(/src/images/icons/authorized.svg);
                }
            }
            .services-content {
                @include flexbox(column);
                padding-left: 46px;
                p {
                    font-size: 22px;
                    line-height: 125%;
                    margin: 0;
                }
                span {
                    @extend .common-text;
                    color: $neutrals-n200;
                    margin: 8px 0;
                }
                a {
                    @extend .common-text;
                    color: $primary-p150;
                }
            }
        }
    }
}