#add-to-cart {
	cursor: pointer;
}


/*******************************
* MODAL AS LEFT/RIGHT SIDEBAR
* Add "left" or "right" in modal parent div, after class="modal".
* Get free snippets on bootpen.com
*******************************/
	.modal.left .modal-dialog,
	.modal.right .modal-dialog {
		position: fixed;
		top: 0;
		margin: auto;
		width: 438px;
		height: 100%;
		-webkit-transform: translate3d(0%, 0, 0);
		    -ms-transform: translate3d(0%, 0, 0);
		     -o-transform: translate3d(0%, 0, 0);
		        transform: translate3d(0%, 0, 0);
	}

	.modal.left .modal-content,
	.modal.right .modal-content {
		height: 100%;
		// overflow-y: auto;
	}
	
	.modal.left .modal-body,
	.modal.right .modal-body {
		// padding: 15px 15px 80px;
	}

/*Left*/
	.modal.left.fade .modal-dialog{
		left: -438px;
		-webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
		   -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
		     -o-transition: opacity 0.3s linear, left 0.3s ease-out;
		        transition: opacity 0.3s linear, left 0.3s ease-out;
	}
	
	.modal.left.fade.in .modal-dialog{
		left: 0;
	}
        
/*Right*/
	.modal.right.fade .modal-dialog {
		right: -438px;
		-webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
		   -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
		     -o-transition: opacity 0.3s linear, right 0.3s ease-out;
		        transition: opacity 0.3s linear, right 0.3s ease-out;
	}
	
	.modal.right.fade.in .modal-dialog {
		right: 0;
	}

/* ----- MODAL STYLE ----- */
	.modal-content {
		border-radius: 4px 0px 0px 4px;
		border: none;
	}

	.modal-header {		
		background: #F9FCFD;
		padding: 24px 24px 6px;
	}
	.modal-title {
		// font-family: Founders Grotesk;
		font-style: normal;
		font-weight: normal;
		font-size: 22px;
		line-height: 26px;
		color: #575757;
	}

	.modal {

        &__cart-item {
        	border: 1px solid #D7D7D7;
        	padding: 16px ;

        	&--img {
        		img {
				    max-width: 100%;
				    height: auto;
				}
			}		
		
			&--desc {

			}
		
			&--amt {

			}
		
			&--del {
			    // position: relative;
			    // top: -8px;
		        position: absolute;
				right: 24px;
			}

		}
		&__subtotal {
			padding: 27px 37px;
			&--title {
				font-family: 'Open Sans Condensed', sans-serif;
				font-style: normal;
				font-weight: bold;
				font-size: 13px;
				line-height: 16px;
				letter-spacing: 0.08em;
				text-transform: uppercase;
				color: #333333;
			}
			&--price {
				// font-family: Founders Grotesk;
				font-style: normal;
				font-weight: normal;
				font-size: 22px;
				line-height: 26px;
				color: #23419A;
			}
		}
		&__btns {
			padding: 0 24px;
		}

		// .row {
			
		// }

  	}

  	/* The Close Button */
	.close {
		color: #aaa;
		// float: right;
		// font-size: 24px;
		position: absolute;
		font-size: 24px;
		top: 18px;
		right: 18px;
		bottom: 18px;
		margin: 0 auto;
		height: 24px;
	    border: none;
    	background: transparent;
	}

	.close:hover,
	.close:focus {
	  color: black;
	  text-decoration: none;
	  cursor: pointer;
	}  

/* ----- v BS Modal v ----- */
.fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
}
.fade.in {
    opacity: 1;
}
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}
.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #1C1E23;
}
.modal-backdrop.fade {
    filter: alpha(opacity=0);
    opacity: 0;
}
.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .5;
}

.modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out;
    // -webkit-transform: translate(0,-25%);
    // -ms-transform: translate(0,-25%);
    // -o-transform: translate(0,-25%);
    // transform: translate(0,-25%);
}
.modal.in .modal-dialog {
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
}
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}
.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}
@media (min-width: 768px) {
	.modal-dialog {
	    width: 600px;
	    margin: 30px auto;
	}

}


.modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    outline: 0;
    // -webkit-box-shadow: 0 3px 9px rgb(0 0 0 / 50%);
    // box-shadow: 0 3px 9px rgb(0 0 0 / 50%);
}
@media (min-width: 768px) {
	.modal-content {
	    // -webkit-box-shadow: 0 5px 15px rgb(0 0 0 / 50%);
	    // box-shadow: 0 5px 15px rgb(0 0 0 / 50%);
	}
	
}