.container-checkbox {
    @extend .common-text;
    line-height: 110%;
    display: block;
    position: relative;
    padding-left: 26px;
    margin-bottom: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    input {
        position: absolute;
        opacity: 0;
    }
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 16px;
        width: 16px;
        background-color: $neutrals-n000;
        border-radius: 2px;
        border: 1px solid #C7C7C7;
        &:after {
            content: "";
            position: absolute;
            display: none;
        }
        &:after {
            left: 4.5px;
            top: -0.5px;
            width: 3px;
            height: 9.5px;
            border: solid white;
            border-width: 0 2.5px 2.5px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }
    &:not([readonly]) {
        cursor: pointer;
        &:hover input ~ .checkmark {
            background-color: #e6f1ff;
        }
        input:checked ~ .checkmark {
            background-color: $primary-p150;
        }
        input:checked ~ .checkmark:after {
            display: block;
        }
        input {
            cursor: pointer;
        }
    }
}
.select-container {
    position: relative;
    &__option--selected {
        @extend .common-text;
        font-size: 16px;
        line-height: 140%;
        &::after {
            content: url(/src/images/icons/arrow-down-blue.svg);
            padding-left: 12px;
        }
    }
    ul {
        background-color: $neutrals-n000;
        box-shadow: 0px 8px 20px rgba(72, 74, 96, 0.1);
        transition: .2s ease;
        visibility: hidden;
        opacity: 0;
        margin-top: 10px;
        position: absolute;
        width: 100%;
        z-index: 1;
        li {
            color: $neutrals-n225;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 140%;
            padding: 10px 0 6px 16px;
            &:last-child {
                margin-bottom: 0;
            }
            &:hover {
                background-color: $primary-light-blue;
            }
        }
    }
    &.active {
        ul {
            visibility: visible;
            opacity: 1;
        }
    }
}