    .customer-care {
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) -12.08%, rgba(247, 250, 250, 0.758723) 27.28%, #F4F8F9 61.15%, #E1EFF2 100%);
        padding-top: 48px;
        padding-bottom: 40px;
        @include maxpoint($tablet) {
            padding-top: 64px;
            padding-bottom: 24px;
        }
        &__content {
            @include flexbox(column, center);
            span {
                @extend .common-text-sub;
                color: $secondary-s50;
                margin-bottom: 13px;
            }
            h4 {
                text-align: center;
            }
        }
        &__list {
            @include flexbox(initial, initial, center);
            flex-wrap: wrap;
            margin-top: 16px;
            margin-bottom: 36px;
            @include maxpoint($tablet) {
                flex-wrap: initial;
            }
            &--main {
                flex: 0 50%;
                margin: 0 0 16px;
                width: 100%;
                text-align: center;
                @include maxpoint($tablet) {
                    flex: initial;
                    margin: 0 30px;
                    width: 80px;
                }
                &:first-child {
                    margin-left: 0;
                }
                &:last-child {
                    margin-right: 0;
                }
                p {
                    @extend .common-text;
                    margin: auto;
                    width: 80px;
                    @include maxpoint($tablet) {
                        margin: 0;
                        width: auto;
                    }
                }
                .list-holder {
                    @include flexbox(initial, center, center);
                    background-color: $neutrals-n000;
                    border: 1px solid $secondary-s75;
                    border-radius: 100%;
                    height: 80px;
                    margin: auto;
                    margin-bottom: 8px;
                    text-align: center;
                    width: 80px;
                    @include maxpoint($tablet) {
                        margin: 0;
                        margin-bottom: 8px;
                    }
                    svg {
                        fill: $secondary-s75;
                    }
                    &:hover {
                        background-color: $secondary-s75;
                        svg {
                            fill: #ffffff;
                        }
                    }
                }
            }
        }
        p.customer-care-footer {
            @extend .common-text;
            color: $neutrals-n250;
            font-size: 14px;
            margin: 0;
            text-align: center;
        }
    }