.custom-range {
  // margin-top: 125px;
}
.noUi {
  &-horizontal {
    background: #D7D7D7;
    box-shadow: inset 0 1px 1px #d7d7d7, 0 3px 6px -5px #d7d7d7;  
    height: 3px;
    border: 0;
    .noUi-handle {
      width: 13px;
      height: 13px;
      right: -5px;
      background: #23419A;
      border: none;
      box-shadow: none;
      border-radius: 10px;
      top: -5.5px;
      &::before,
      &::after {
        content: none;
      }
    }
  }
  &-base {

  }
  &-connects {
    .noUi-connect {
      background-color: #23419A;
    }
  }
}
.range-value {
  @include flexbox(initial, initial, space-between);
  @extend .common-text;
  color: $neutrals-n175;
  font-size: 12px;
  margin-top: 8px;
}