.explainer-section  {
    background-color: $primary-p150;
    padding-top: 43px;
    padding-bottom: 70px;
    position: relative;
    &::after {
        content: url(/src/images/explainer-exclude.svg);
        position: absolute;
        bottom: -5px;
        left: 0px;
    }
    .explainer-holder {
        position: relative;
        z-index: 1;
        &__product {
            @include flexbox(initial, initial, center);
        }
        &__description {
            @include flexbox(initial, initial, space-between);
            .product-text {
                color: $neutrals-n000;
                width: 540px;
                & > span {
                    @extend .common-h6;
                    margin-bottom: 16px;
                }
                & > h2 {
                    color: $neutrals-n000;
                    line-height: 95%;
                    margin-bottom: 16px;
                    width: 446px;
                }
                & > p {
                    @extend .common-h6;
                    margin: 0 0 16px;
                }
                & > a {
                    display: block;
                    width: 169px;
                }
            }
            .product-specs {
                @include flexbox(initial, flex-end);
                &__item {
                    @include flexbox(column, center);
                    margin: 0 16px;
                    &:first-child {
                        margin-left: 0;
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                    img {
                        border-radius: 100%;
                        height: 80px;
                        width: 80px;
                        margin-bottom: 16px;
                    }
                    p {
                        @extend .common-text;
                        color: $neutrals-n000;
                        font-size: 14px;
                        letter-spacing: 0;
                        margin: 0;
                    }
                }
            }
        }
    }
}