.site-footer {
    background-color: $primary-p150;
    position: relative;
    .o-container {
        padding-top: 40px;
        padding-bottom: 24px;
    }
    &__logo {
        align-items: center;
        display: flex;
        justify-content: space-between;
        & > .social-fb-mob {
            display: flex;
            align-self: center;
            @include maxpoint($desktop) {
                display: none;
            }
            &:before {
                content: url(/src/images/icons/fb.svg);
            }
            span {
                color: $neutrals-n000;
                font-size: 14px;
                line-height: 140%;
                margin-left: 16px;
            }
        }
    }
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 45px;
        margin-top: 24px;
        @include maxpoint($desktop) {
            flex-direction: row;
        }
        .footer-address {
            position: relative;
            width: 100%;
            @include maxpoint($desktop) {
                width: 25%;
            }
            &:before {
                content: url(/src/images/icons/pin.svg);
                position: absolute;
                width: 16px;
                height: 16px;
                left: 0;
                top: 0;
            }
            p {
                @extend .common-text;
                color: $neutrals-n000;
                margin-bottom: 24px;
                margin-top: 0;
                padding-left: 30px;
                @include maxpoint($desktop) {
                    margin-bottom: 0;
                }
            }
        }
        .footer-menu {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            @include maxpoint($desktop) {
                width: 413px;
                flex-direction: row;
            }
            ul {
                li {
                    @extend .common-text;
                    color: $neutrals-n000;
                    margin-bottom: 16px;
                    &:last-child {
                        margin-bottom: 16px;
                        @include maxpoint($desktop) {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
        .footer-newsletter {
            // width: 100%;
            // @include maxpoint($desktop) {
            //     width: 446px;
            // }
            h6 {
                color: $neutrals-n000;
                margin-bottom: 8px;
            }
            p {
                @extend .common-text;
                color: $neutrals-n000;
                margin: 0 0 9.5px;
            }
            form {
                .form-group {
                    display: flex;
                    flex-direction: column;
                    @include maxpoint($desktop) {
                        flex-direction: row;
                    }
                    .input-group {
                        margin-right: 0;
                        margin-bottom: 24px;
                        width: 100%;
                        @include maxpoint($desktop) {
                            margin-right: 24px;
                            margin-bottom: 0;
                        }
                    }
                    button {
                        @include maxpoint($desktop) {
                            width: 164px;
                        }
                    }
                }
            }
            // & > .social-fb {
            //     display: none;
            //     @include maxpoint($tablet) {
            //         display: flex;
            //     }
            // }
            .site-footer__logo {
                align-items: center;
                display: flex;
                justify-content: space-between;
                & > .social-fb {
                    display: none;
                    align-self: center;
                    @include maxpoint($desktop) {
                        display: flex;
                    }
                    &:before {
                        content: url(/src/images/icons/fb.svg);
                    }
                    span {
                        color: $neutrals-n000;
                        font-size: 14px;
                        line-height: 140%;
                        margin-left: 16px;
                    }
                }
            }
        }
    }
    &__bottom {
        border-top: 1px solid #fff;
        &--holder {
            @include flexbox(column, initial, center);
            color: $neutrals-n000;
            margin-top: 16.3px;
            @include maxpoint($desktop) {
                flex-direction: row;
            }
            .legal-pages {
                margin-bottom: 14px;
                @include maxpoint($desktop) {
                    margin-bottom: 0;
                }
                a {
                    color: $neutrals-n000;
                    margin-right: 24px;
                    &:nth-child(2) {
                        margin-right: 0;
                    }
                }
            }
            .copyrights {
                p {
                    margin: 0;
                }
            }
        }
    }
}
.cart-holder {
    background-color: #fff;
    filter: drop-shadow(0px 0px 20px rgba(72, 74, 96, 0.15));
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    width: 438px;
    z-index: 5;
    transition: .3s ease;
    opacity: 0;
    visibility: hidden;
    &-content {
        position: relative;
    }
    &.active {
        opacity: 1;
        visibility: visible;
    }
    & > button.modal-close {
        position: absolute;
        right: 9px;
        top: 23px;
    }
    .my-cart {
        @include flexbox(initial, center, space-between);
        background-color: #F9FCFD;
        border-bottom: 1px solid $neutrals-n075;
        padding: 24px 16px 16px 24px;
        h6 {
            color: $neutrals-n200;
            font-style: normal;
            font-weight: normal;
        }
    }
    .my-cart-items {
        &__holder {
            border-bottom: 1px solid $neutrals-n075;
            padding: 16px 16px 24px 16px;
            .item-delete {
                @include flexbox(initial, initial, flex-end);
            }
            .item-content {
                @include flexbox(initial, center, space-between);
                &__description {
                    @include flexbox(initial, center);
                    width: 226px;
                    p {
                        @extend .common-text;
                        line-height: 99%;
                        margin: 0;
                    }
                }
                &__price {
                    @extend .common-text;
                    line-height: 99%;
                }
            }
        }
    }
    .my-cart-total {
        padding: 24px;
        &__description {
            @include flexbox(initial, initial, space-between);
            margin-bottom: 24px;    
            & > label {
                @extend .common-text-sub;
            }
            & > h6 {
                color: $primary-p150;
                font-style: normal;
                font-weight: normal;
            }
        }
        & > button.o-button-default {
            margin-bottom: 16px;
        }
    }
}
.write-message-modal {
    .o-modal-content {
        padding: 88px 20px 80px;
    }
    &.active {
        opacity: 1;
        visibility: visible;
    }
    & > button {
        @include flexbox(initial, initial, flex-end);
        padding: 24px 24px 40px;
        width: 100%;
    }
    .review-message__holder {
        h3 {
            color: $primary-p150;
            margin-bottom: 16px;
        }
        &--content {
            @include flexbox(column, center);
            display: none;
            &.active {
                display: flex;
            }
            & > p {
                @extend .common-h6;
                color: $neutrals-n225;
            }
            & > .rate {
                margin: 8px 0 16px;
            }
            .Rating--Star {
                height: 24px;
                width: 24px;
                margin: 0 10px;
            }
            .review-footer {
                margin-top: 8px;
                width: 343px;
                @include flexbox(column);
                & > span {
                    color: $neutrals-n225;
                    font-family: $primary-font;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 10px;
                    line-height: 140%;
                    letter-spacing: 0.08em;
                    margin-bottom: 8px;
                    text-transform: uppercase;
                }
                & > textarea {
                    @extend .common-text-body-1;
                    border: 1px solid #D7D7D7;
                    border-radius: 5px;
                    color: $neutrals-n125;
                    font-family: $primary-font;
                    height: 116px;
                    margin-bottom: 16px;
                    padding: 17px 16px;
                    width: 100%;
                }
            }
        }
        .thankyou-review {
            display: none;
            &.active {
                display: flex;
            }
        }
    }
}
.thankyou-review {
    @include flexbox(column, center);
    margin: 0 auto;
    padding-bottom: 80px;
    width: 696px;
    & > p {
        @extend .common-text-body-1;
        margin: 24px 0;
    }
    .review-customer-care {
        @include flexbox(initial, center);
        width: 437px;
        &__image.list-holder {
            @include flexbox(initial, center, center);
            background-color: $neutrals-n000;
            border: 1px solid $secondary-s75;
            border-radius: 100%;
            height: 110px;
            margin-right: 12px;
            padding: 33px;
            text-align: center;
            width: 110px;
            svg {
                fill: $secondary-s75;
            }
            &:hover {
                background-color: $secondary-s75;
                svg {
                    fill: #ffffff;
                }
            }
        }
        &__content {
            & > h6 {
                color: $primary-p150;
                margin-bottom: 8px;
            }
            & > p {
                @extend .common-text-body-1;
                font-size: 14px;
                line-height: 140%;
            }
        }
    }
}
.buy-product {
    box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.08);
    background-color: $neutrals-n000;
    bottom: 0;
    padding: 15px 0;
    position: absolute;
    width: 100%;
    .o-container {
        padding: 0; 
    }
    &__holder {
        @include flexbox(initial, center, space-between);
        position: relative;
        &--name {
            & > h6 {
                color: $primary-p150;
            }
        }
        &--details {
            @include flexbox(initial, center, flex-end);
            width: 50%;
            & > button {
                width: 164px;
                margin-right: 24px;
            }
            button.share-social {
                border: 1px solid $primary-p150;
                border-radius: 25px;
                height: 32px;
                margin-right: 0;
                padding: 4px;
                position: relative;
                width: 32px;
                &::before {
                    content: url(/src/images/icons/share-tooltip.svg);
                    border-radius: 25px;
                    height: 16px;
                    left: 50%;
                    width: 16px;
                    position: absolute;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }
            }
            & > p {
                color: $primary-p150;
                margin-right: 24px;
            }
        }
        .share-tooltip {
            @include flexbox(column, center);
            background-color: #fff;
            padding: 16px;
            position: absolute;
            right: 0;
            top: -105px;
            display: none;
            & > ul {
                @include flexbox(initial, center);
                & > li {
                    margin: 0 20px;
                }
            }
        }
    }
}
.o-modal {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: .3s ease;
    position: fixed;
    opacity: 0;
    visibility: hidden;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
    padding: 50px 0;
    &-content {
        width: 100%;
        max-width: 878px;
        border-radius: 10px;
        background-color: $neutrals-n000;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
        position: relative;
        transition: .3s ease;
    }
    &.active {
        opacity: 1;
        visibility: visible;
    }
    &__details {
        text-align: center;
        width: 377px;
    }
    h3 {
        color: $primary-p150;
        margin-bottom: 16px;
    }
    button.modal-close {
        position: absolute;
        right: 0;
        top: 0;
        padding: 16px 16px;
        & > svg {
            stroke: $primary-p150;
        }
    }
    button {
        line-height: 130%;
        letter-spacing: 0.02em;
        padding: 15px 0;
    }
    .radioButton-option {
        margin: 16px 0;
        p, label {
            @extend .common-text-body-1;
            color: $neutrals-n225;
            margin-bottom: 10px;
        }
    }
    form {
        .form-group {
            margin-top: 16px;
            label {
                color: $neutrals-n225;
                display: inline-flex;
                font-weight: 500;
                font-size: 10px;
                line-height: 140%;
                letter-spacing: 0.08em;
                text-transform: uppercase;
                margin-bottom: 8px;
            }
            input {
                @extend .common-text-body-1;
                border: 1px solid $neutrals-n075;
            }
        } 
        .form-otp {
            @include flexbox(initial, initial, center);
            margin-bottom: 16px;
            .form-group {
                input {
                    @extend .common-text-body-1;
                    border: 1px solid $neutrals-n075;
                    height: 45px;
                    padding: 0;
                    text-align: center;
                    width: 45px;
                }
                margin: 0 8px;
                &:first-child {
                    margin-left: 0;
                }
                &:last-child {
                    margin-right: 0;
                }
            }
        }
        p {
            @extend .common-text-body-1;
            color: $neutrals-n200;
            a {
                color: $primary-p150;
            }
        }
    }
    hr {
        background-color: $neutrals-n100;
        border: none;
        height: 1px;
        margin: 0;
        width: 100%;
    }
    a {
        color: $primary-p150;
    }
    a.a-line {
        display: inline-flex;
        height: 20px;
        position: relative;
        &::before {
            content: '';
            background-color: $primary-p150;
            bottom: 0;
            height: 1px;
            position: absolute;
            width: 100%;
        }
    }
    .input-password {
        position: relative;
        &::before {
            content: url(/src/images/icons/Hide.svg);
            position: absolute;
            // bottom: 8px;
            top: 38px;
            right: 16px;
        }
    }
    .input-mobile {
        @include flexbox(column);
        display: none;
        & > div {
            display: flex;
            input {
                &:first-child {
                    width: 59px;
                    margin-right: 8px;
                    padding: 0;
                    text-align: center;
                }
                &:last-child {
                    width: calc(100% - 59px);
                }
            }
        }
        &.active {
            display: flex;
        }
    }
    .input-email {
        display: none;
        &.active {
            display: flex;
            flex-direction: column;
        }
    }
}

.registration-modal {
    align-items: flex-start;
    padding-top: 75px;
}
.sign-up-modal {
    position: relative;
    & > button.modal-close {
        z-index: 1;
        & > svg {
            stroke: $neutrals-n000;
        }
    }
    .sign-up-holder {
        display: flex;
        .sign-up-create {
            padding: 72px 40px 152px;
            width: 416px;
            & > p {
                @extend .common-text-body-1;
                color: $neutrals-n225;
                margin-bottom: 26px;
                text-align: center;
                a {
                    color: $primary-p150;
                }
            }
            & > form {
                & > ul {
                    margin-top: 16px;
                    li {
                        margin-bottom: 16px;
                        span.checkmark {
                            border: 1px solid #777777;
                        }
                        label {
                            @extend .common-text-body-1;
                            color: $neutrals-n200;
                            span {
                                color: $primary-p150;
                                letter-spacing: 0.02em;
                                line-height: 130%;
                            }
                        }
                    }
                }
            }
        }
        .sign-up-info {
            background-color: $primary-p150;
            width: calc(100% - 416px);
            padding: 107px 37px 0 39px;
            position: relative;
            border-radius: 0 10px 10px 0;
            &::before {
                content: url(/src/images/icons/registration-exclude.png);
                position: absolute;
                bottom: -4px;
                right: 0;
            }
            &__image {
                display: flex;
                margin-bottom: 53px;
                position: relative;
                & > img {
                    border-radius: 100%;
                    height: 385px;
                    margin: 0 auto;
                    object-fit: cover;
                    width: 386px;
                }
            }
            &__text {
                @include flexbox(column);
                margin: 0 auto;
                width: 302px;
                & > p {
                    @extend .common-text;
                    color: $neutrals-n000;
                    margin-bottom: 16px;
                }
            }
        }
    }
}
.verify-account-modal {
    @include flexbox(initial, center, center);
    position: relative;
    p {
        @extend .common-text-body-1;
        color: $neutrals-n225;
        margin-bottom: 24px;
    }
    form {
        a {
            color: $primary-p150;
            font-weight: 500;
        }
    }
}
.verify-email {
    padding: 112px 0;
}
.verify-otp {
    padding: 106px 0;
}
.registration-success {
    @include flexbox(initial, center, center);
    padding: 88px 0;
    &__content {
        .thankyou-review {
            padding-bottom: 0;
            & > h3 {
                width: 515px;
                text-align: center;
            }
            .review-customer-care {
                margin-top: 24px;
                // &:last-child {
                //     margin-bottom: 0;
                // }
            }
        }
    }
}
.login-email {
    max-width: 385px;
    &__content {
        padding: 56px 27px 40px;
        .login-heading {
            margin-bottom: 26px;
            text-align: center;
            & > p {
                a {
                    color: $primary-p150;
                }
            }
        }
        .form-group {
            & > a {
                @extend .common-text;
                color: $neutrals-n175;
                font-size: 12px;
                letter-spacing: initial;
                margin-top: 8px;
                &:hover {
                    color: $primary-p150;
                }
            }
        }
    }
}
.forgot-password {
    @include flexbox(initial, center, center);
    padding: 103px 0;
    &__content {
        & > form {
            width: 377px;
            & > .form-group {
                margin-top: 0;
                p {
                    @extend .common-text;
                    color: $neutrals-n200;
                    letter-spacing: initial;
                    margin-bottom: 16px;
                }
            }
        }
    }
}
.email-retrieve {
    @include flexbox(initial, center, center);
    padding: 112px 0;
    &__content {
        text-align: center;
        & > p {
            margin: 0 auto 24px;
            width: 377px;
        }
        & > form {
            margin: 0 auto;
            width: 377px;
        }
    }
}
.password-retrieve {
    @include flexbox(initial, center, center);
    padding: 106px 0;
    &__content {
        text-align: center;
        & > p {
            margin: 0 auto 24px;
            width: 377px;
        }
        & > form {
            margin: 0 auto;
            width: 377px;
        }
    }
}
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    display: inline-block;
    margin-right: 16px;
    line-height: 140%;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid $primary-p150;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: $primary-p150;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
[type="radio"]:not(:checked) + label:before {
    border: 1px solid $neutrals-n100;
}