.four-product {
    background: linear-gradient(180deg, #F6F9FA 0%, #EDF5F7 100%);
    padding-top: 56px;
    padding-bottom: 80px;
    &__heading {
        @include flexbox(initial, center, space-between);
        margin-bottom: 27px;
    }
}
.four-product-tabs {
    .four-product-button {
        & > ul.tabs-button {
            display: flex;
            & > li {
                margin: 0 16px;
                &:first-child {
                    margin-left: 0;
                }
                &:last-child {
                    margin-right: 0;
                }
                > button {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 32px;
                    line-height: 109%;
                    padding: 0 0 12px 0;
                    position: relative;
                    &:hover {
                        color: $primary-p150;
                        &::after {
                            content: "";
                            background-color: $primary-p150;
                            bottom: 0;
                            height: 1px;
                            position: absolute;
                            width: 100%;
                            left: 0;
                        }
                    }
                }
            } 
        }
    }
}