body.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}

header {
    @include maxpoint($tablet) {
        display: block;
    }
    position: relative;
    background-color: #fff;
    transition: .2s ease;
    z-index: 4;
    &.active {
        z-index: 5;
    }
    .main-header {
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
        position: relative;
        .o-container {
            padding-left: 16px;
        }
        .affix {
            @include flexbox(initial, initial, space-between);
            height: 98px;
            &-content {
                @include flexbox(row-reverse, center);
                @media only screen and (min-width: 1099px) {
                    @include flexbox(initial, center);
                }
                &__menuMob {
                    display: flex;
                    height: 100%;
                    margin-right: 14px;
                    @media only screen and (min-width: 1099px) {
                        display: none;
                    }
                    a {
                        display: flex;
                        height: 100%;
                    }
                }
                .affix-menu {
                    display: none;
                    height: 100%;
                    margin-left: 56px;
                    @media only screen and (min-width: 1099px) {
                        display: block;
                    }
                    nav {
                        height: 100%;
                        ul.main-menu {
                            height: 100%;
                            @include flexbox();
                            & > li {
                                height: 100%;
                                margin: 0 16px;
                                &:first-child {
                                    margin-left: 0;
                                }
                                &:last-child {
                                    margin-right: 0;
                                }
                                & > a {
                                    @include flexbox(initial, center);
                                    @extend .common-text;
                                    color: $primary-p150;
                                    height: 100%;
                                    letter-spacing: 0.02em;
                                    line-height: 130%;
                                    position: relative;
                                }
                                // &:hover {
                                //     color: $secondary-s75;
                                //     &::after {
                                //         content: "";
                                //         background-color: $secondary-s75;
                                //         bottom: 0;
                                //         height: 2px;
                                //         position: absolute;
                                //         width: 100%;
                                //     }
                                // }
                                &:hover {
                                    color: $secondary-s75;
                                    & > a::after {
                                        content: "";
                                        background-color: $secondary-s75;
                                        bottom: 0;
                                        height: 2px;
                                        position: absolute;
                                        width: 100%;
                                    }
                                    .sub-menu-content {
                                        visibility: visible;
                                        opacity: 1;
                                    }
                                }
                                .sub-menu-content {
                                    visibility: hidden;
                                    opacity: 0;
                                    transition: .3s all ease;
                                }
                                .shop-our-products {
                                    background-color: $neutrals-n000;
                                    left: 0;
                                    padding-top: 40px;
                                    padding-bottom: 76px;
                                    position: absolute;
                                    width: 100%;
                                    border-top: 1px solid $neutrals-n050;
                                    &__holder {
                                        @include flexbox();
                                        &--content {
                                            width: 25%;
                                            & > h6 {
                                                margin-bottom: 8px;
                                                & > a {
                                                    color: $primary-p150;
                                                    position: relative;
                                                    padding-bottom: 4px;
                                                    &:hover {
                                                        color: $secondary-s75;
                                                        &::after {
                                                            content: "";
                                                            background-color: $secondary-s75;
                                                            bottom: 0;
                                                            height: 1px;
                                                            position: absolute;
                                                            width: 100%;
                                                            left: 0;
                                                        }
                                                    }
                                                }
                                            }
                                            & > ul {
                                                @include flexbox(column);
                                                & > li {
                                                    margin-bottom: 8px;
                                                    &:last-child {
                                                        margin-bottom: 0;
                                                    }
                                                    a {
                                                        @extend .common-text-body-1;
                                                    }
                                                }
                                            }
                                        }
                                        .common-button-text {
                                            margin-left: auto;
                                        }
                                    }
                                }
                                .customer-care-menu {
                                    background-color: $neutrals-n000;
                                    left: 0;
                                    padding-top: 64px;
                                    padding-bottom: 56px;
                                    position: absolute;
                                    width: 100%;
                                    border-top: 1px solid $neutrals-n050;
                                    &__holder {
                                        .cc-heading {
                                            @include flexbox(initial, initial, space-between);
                                            margin-bottom: 16px;
                                            span {
                                                @extend .common-text;
                                                color: $neutrals-n250;
                                                font-size: 14px;
                                            }
                                        }
                                        .cc-content {
                                            @include flexbox();
                                            flex-wrap: wrap;
                                            width: 822px;
                                            &__holder {
                                                width: 33.33%;
                                                &--image {
                                                    @include flexbox(initial, center);
                                                    padding-right: 24px;
                                                    margin-bottom: 40px;
                                                    .cc-image {
                                                        @include flexbox(initial, center, center);
                                                        background-color: $background-b75;
                                                        border-radius: 100%;
                                                        height: 88px;
                                                        margin-bottom: 8px;
                                                        margin-right: 6px;
                                                        text-align: center;
                                                        width: 88px;
                                                        svg {
                                                            fill: $secondary-s75;
                                                        }
                                                        &:hover {
                                                            background-color: $secondary-s75;
                                                            svg {
                                                                fill: #ffffff;
                                                            }
                                                        }
                                                    }
                                                    .cc-text {
                                                        width: calc(100% - 88px);
                                                        h6 {
                                                            color: $primary-p150;
                                                            margin-bottom: 8px;
                                                        }
                                                        p {
                                                            @extend .common-text;
                                                            font-size: 12px;
                                                            margin: 0;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            &-icons {
                @include flexbox(initial, center);
                &::before {
                    content: none;
                    border: .5px solid $neutrals-n050;
                    height: 44px;
                    @media only screen and (min-width: 1099px) {
                        content: '';
                    }
                }
                .affix-icon-login {
                    position: relative;
                }
                &__holder {
                    height: 100%;
                    margin: 0 20px;
                    &:first-child {
                        margin-left: 0;
                        @media only screen and (min-width: 1099px) {
                            margin-left: 26px;
                        }
                    }
                    @media only screen and (min-width: 1099px) { 
                        margin: 0 15px;
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                    & > button {
                        @include flexbox(initial, center);
                        font-family: $primary-font;
                        height: 100%;
                        padding: 0;
                        & > div {
                            display: none;
                            padding-left: 8px;
                            @media only screen and (min-width: 1099px) {
                                display: block;
                            }
                        }
                    }
                    .button-holder {
                        @include flexbox(initial, center);
                        height: 100%;
                        svg {
                            fill: $primary-p150;
                        }
                        &:hover {
                            color: $secondary-s75;
                            svg {
                                fill: $secondary-s75;
                            }
                            button {
                                color: $secondary-s75;
                            }
                        }
                    }
                    .search-holder {
                        display: none;
                        background-color: #fff;
                        left: 0;
                        padding-top: 40px;
                        padding-bottom: 48px;
                        position: absolute;
                        border-top: 1px solid $neutrals-n050;
                        width: 100%;
                        .o-container {
                            padding-left: 16px;
                            padding-right: 16px;
                            @include maxpoint($tablet) {
                                padding-left: 102px;
                                padding-right: 102px;
                            }
                        }
                        &__content {
                            .classic-form {
                                .form-group {
                                    &::before {
                                        content: url(/src/images/icons/search-input.svg);
                                        height: 16px;
                                        position: absolute;
                                        top: 5px;
                                        width: 16px;
                                    }
                                    input {
                                        @extend .common-h6;
                                        border: none;
                                        border-bottom: 1px solid $primary-p75;
                                        border-radius: 0;
                                        color: $neutrals-n200;
                                        font-family: $primary-font;
                                        padding: 0 0 11px 32px;
                                        width: 100%;
                                        font-size: 18px;
                                        @include maxpoint($tablet) { 
                                            font-size: 22px;
                                        }
                                        // &:focus {
                                        //     border-color: $primary-p75;
                                        //     border-radius: 0;
                                        // }
                                    }
                                }
                            }
                        }
                    }
                    .login-holder {
                        // display: none;
                        background-color: #fff;
                        position: absolute;
                        right: -45px;
                        & > ul {
                            width: 175px;
                            & > li {
                                padding: 13px 0 11px 16px;
                                a {
                                    @extend .common-button;
                                    color: $neutrals-n225;
                                    line-height: 100%;
                                }
                                &:hover {
                                    background-color: $background-b75;
                                    a {
                                        color: $primary-p150;
                                    }
                                }
                            }
                        }
                        .user-out {
                            display: none;
                        }
                        .user-in {
                            display: none;
                            width: 240px;
                        }
                    }
                    .cart-holder {
                        display: none;
                        background-color: #fff;
                        filter: drop-shadow(0px 0px 20px rgba(72, 74, 96, 0.15));
                        height: 100vh;
                        position: absolute;
                        right: 0;
                        top: 0;
                        width: 438px;
                        .my-cart {
                            @include flexbox(initial, center, space-between);
                            background-color: #F9FCFD;
                            border-bottom: 1px solid $neutrals-n075;
                            padding: 24px 16px 16px 24px;
                            h6 {
                                color: $neutrals-n200;
                                font-style: normal;
                                font-weight: normal;
                            }
                        }
                        .my-cart-items {
                            &__holder {
                                border-bottom: 1px solid $neutrals-n075;
                                padding: 16px 16px 24px 16px;
                                .item-delete {
                                    @include flexbox(initial, initial, flex-end);
                                }
                                .item-content {
                                    @include flexbox(initial, center, space-between);
                                    &__description {
                                        @include flexbox(initial, center);
                                        width: 226px;
                                        p {
                                            @extend .common-text;
                                            line-height: 99%;
                                            margin: 0;
                                        }
                                    }
                                    &__price {
                                        @extend .common-text;
                                        line-height: 99%;
                                    }
                                }
                            }
                        }
                        .my-cart-total {
                            padding: 24px;
                            &__description {
                                @include flexbox(initial, initial, space-between);
                                margin-bottom: 24px;    
                                & > label {
                                    @extend .common-text-sub;
                                }
                                & > h6 {
                                    color: $primary-p150;
                                    font-style: normal;
                                    font-weight: normal;
                                }
                            }
                            & > button.o-button-default {
                                margin-bottom: 16px;
                            }
                        }
                    }
                    &.active {
                        .user-in, .user-out {
                            display: block;
                        }
                        .search-holder {
                            display: block;
                        }
                        .cart-holder {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}