.header-text {
    padding-top: 45px;
    padding-bottom: 18px;
    .o-container {
        padding-left: 33px;
    }
    h1 {
        font-size: 44px;
        @include maxpoint($desktop) {
            font-size: 81px;
        }
    }
}