.text-left {
	text-align: left;
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}

.img-fluid {
	max-width: 100%;	
}

.row {
	display: inline-block;
	position: relative;

	&.full-width {
		width: 100%;
	}

	&.equal {
		&.col-2 {
			display: inline-block;
		    display: flex;
		    flex-direction: row;
		    flex-wrap: wrap;

			.column {
			  // float: left;
			  display: inline-block;
			  width: 50%;
			}

			/* Clear floats after the columns */
			.row:after {
			  content: "";
			  display: table;
			  clear: both;
			}
		}
		&.col-3 {
			.column {
			  // float: left;
			  display: inline-block;
			  width: 33.33%;
			}

			/* Clear floats after the columns */
			.row:after {
			  content: "";
			  display: table;
			  clear: both;
			}
		}
	}
	.column {
	  // float: left;
	  display: inline-block;
      vertical-align: middle;
	}

	&.col-2 {
		.left {
		  width: 25%;
		}

		.right {
		  width: 75%;
		}

	}
	&.col-3 {
		.left, .right {
		  width: 23%;
		}

		.middle {
		  width: 47%;
		}

	}
}

.btn {
	width: 390px;
	height: 45px;
	// display: inline-block;
	display: flex;
	max-width: 100%;
	left: 0px;
	top: 0px;
	text-align: center;
	align-items: center;
    justify-content: center;
    // font-family: Founders Grotesk;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 21px;
	text-align: center;
	letter-spacing: 0.02em;

	&__blue {
		border: 1px solid #23419A;
		background-color: #23419A;
		color: #ffffff;
		flex: none;
		order: 0;
		align-self: stretch;
		flex-grow: 0;
		margin: 16px 0px;
		border-radius: 100px;


		&:hover {
			background-color: #ffffff;
			color: #23419A;
			transition: 0.3s ease all;
			-webkit-transition: 0.3s ease all;
			-ms-transition: 0.3s ease all;
		}

		&--inverse {
			color: #23419A;
			background-color: #ffffff;
			border: 1px solid #23419A;
			box-sizing: border-box;
			border-radius: 100px;

			&:hover {
				background-color: #23419A;
				color: #ffffff;
				transition: 0.3s ease all;
				-webkit-transition: 0.3s ease all;
				-ms-transition: 0.3s ease all;
			}
			
		}
	}
}

.hide {
    display: none !important;
}

@media only screen and (min-width: 769px) {
	.flex-content{
		display: flex;
		flex-wrap: nowrap;
	}
}

