.hero-section {
    @include background-default(cover, center, center);
    @include flexbox(column, center, center);
    // background: linear-gradient(90deg, #FFFFFF -6.25%, rgba(255, 255, 255, 0.778019) 9.31%, rgba(255, 255, 255, 0) 55.23%), url(/src/images/hero.png);
    // background: linear-gradient(90deg, #FFFFFF -6.25%, rgba(255, 255, 255, 0.778019) 9.31%, rgba(255, 255, 255, 0) 55.23%);
    // background: linear-gradient(93.73deg, #FFFFFF 12.11%, rgba(255, 255, 255, 0) 86.4%);
    height: 624px;
    position: relative;
    .hero-content {
        @include flexbox(column, initial, center);
        height: 100%;
        & > h1 {
            width: 547px;
        } 
        & > p {
            @extend .common-h6;
            color: $neutrals-n225;
            width: 453px;
        }
    }
}
.hero-2-section {
    height: 554px;
    .hero-content {
        &__button {
            // width: 216px;
            & > a.o-button-full-white-before {
                display: block;
                padding: 23px 49.5px 17px 35.5px;
                width: 250px;
            }
        }
    }
    .featured-product {
        background-color: $neutrals-n000;
        position: absolute;
        bottom: 0;
        width: 100%;
        & > .o-container {
            padding-left: 26px;
        }
        &__main {
            display: flex;
        }
        &__holder {
            width: 33.33%;
            position: relative;
            &::before {
                content: '';
                background-color: $outer-border;
                height: 116px;
                width: 2px;
                position: absolute;
                top: 16px;
                right: 0;
            }
            &:last-child {
                &::before { 
                    content: none;
                }
            }
            .featured-card {
                @include flexbox(initial, center);
                padding: 16px;
                &__description {
                    margin-left: 16px;
                    & > span {
                        @extend .common-text-sub;
                        color: $secondary-s50;
                        font-size: 11px;
                        margin-bottom: 4px;
                    }
                    & > h5 {
                        @extend .common-text-body-1;
                        color: $primary-p150;
                        margin-bottom: 4px;
                    }
                    & > p {
                        @extend .common-text;
                        font-size: 14px;
                        line-height: initial;
                        margin: 0;
                    }
                }
            }
        }
    }
}