.modal {
	&__partner {
		border-bottom: 1px solid #D7D7D7;
		padding: 16px 0 15px;

		&--item {
		    vertical-align: top;
			
			&.column {
				&.left {
					width: 173px;
					margin: 0 auto;
    				text-align: center;
				}
				&.right {
					width: 208px;
				}

			}

			&--logo {
				background: #FFFFFF;
				border: 1px solid #D7D7D7;
				box-sizing: border-box;
				border-radius: 5px;
			    max-width: 133px;
			    display: inline-block;
			    margin: 0 auto;

			    img {
				    max-width: 100%;
				    display: flex;
				    justify-content: center;
				    align-items: center;
				}
			}

			&--details {
				span {
					// font-family: Founders Grotesk;
					font-style: normal;
					font-weight: 500;
					font-size: 10px;
					line-height: 14px;
					letter-spacing: 0.08em;
					text-transform: uppercase;
					color: #23419A;
					flex: none;
					order: 0;
					flex-grow: 0;
					margin: 8px 0px;
				}
				p {
					// font-family: Founders Grotesk;
					font-style: normal;
					font-weight: normal;
					font-size: 16px;
					line-height: 18px;
					letter-spacing: 0.01em;
					color: #333333;
					flex: none;
					order: 1;
					flex-grow: 0;
					margin: 0 0 8px;
				}
			}

		}
	}
}