.my-account{
    background-color: $primary-light-blue;
    padding-bottom: 84px;
    padding-right: 12px;
    padding-left: 12px;
    
    .side-navigation{
        padding: 16px 0px;
        ul{
            li{
                padding: 20px 0px;
                
                &:nth-child(1) {
                    &::before {
                        content: url(/src/images/icons/account.svg);
                    }
                }
                &:nth-child(2) {
                    &::before {
                        content: url(/src/images/icons/address.svg);
                    }
                }
                &:nth-child(3) {
                    &::before {
                        content: url(/src/images/icons/orders.svg);
                    }
                }
                &:nth-child(4) {
                    &::before {
                        content: url(/src/images/icons/logout.svg);
                    }
                }
                &::before {
                    padding-right: 15px;
                }
            }
            
        }
        a{
            color: $neutrals-n250;
        }


    }

    .title{
        font-size: 32px;
        color: $primary-p150;
        padding-bottom: 24px;
    }

    .info-card{

        .info-box{
            background: #FFFFFF;
            border: 1px solid #D7D7D7;
            box-sizing: border-box;
            border-radius: 5px;
            color: $neutrals-n200;
            padding: 24px 15.4px;

            p{
                padding-bottom: 18px;
                &::before {
                    padding-right: 15px;
                }
                *{
                    display: inline-block;
                    vertical-align: middle;
                    }
            }
            .name{
                font-size: 32px;
                color: $primary-p150;
                padding-bottom: 24px;
            }
            .address{
                &::before {
                    content: url(/src/images/icons/address.svg);
                }
            }
            .phone-number{
                &::before {
                    content: url(/src/images/icons/phone.svg);
                }
            }
            .email{
                &::before {
                    content: url(/src/images/icons/email.svg);
                }
            }
        }
        
    }


    @media only screen and (min-width: 769px) {
        padding: 0px;
        background: linear-gradient(to right, $primary-light-blue 10%, $neutrals-n000 50%);
        .flex-content{
            max-width: 1280px;
            margin: 0 auto;
        }
        .side-navigation{
            width: 327px;
            padding: 0 16px;
            background-color: $primary-light-blue;
        }
        .info-card{
            background-color: $neutrals-n000;
            .info-box{
                width: 405px;
                margin-left: 43px;
                .name{
                    font-size: 54px;
                }
            }
        }
        .side-navigation, .info-card{
            padding-top: 5%;
            padding-bottom: 10%;
        }
        
    }
}

.footer-border-top {
    border-top: 1px solid #E7E7E7;
    position: absolute;
    left: 6.25%;
    right: 6.25%;
}

