.my-account.profile{
    background-color: $neutrals-n000;
    .side-navigation, .info-card{
        display: none;
    }
    .title{
        padding-top: 34px;
    }
    @media only screen and (min-width: 769px) {
        .side-navigation, .info-card{
            display: block;
        }
    }

}