.product-overview {
    .product-detail {
        background-color: $primary-p150;
        & > ul.product-detail-list {
            @include flexbox(initial, initial, center);
            li {
                padding: 14px 20px;
                &:first-child {
                    padding-left: 0;
                }
                &:last-child {
                    padding-right: 0;
                }
                a {
                    @extend .common-text-sub;
                    color: $neutrals-n000;
                    font-size: 14px;
                    letter-spacing: 0.04em;
                }
            }
        }
    }
    .product-holder {
        @include flexbox();
        padding-top: 64px;
        padding-bottom: 40px;
        .product-image {
            width: 540px;
            margin-right: 48px;
            &__lists {
                margin-bottom: 31px;
                &--slider {
                    height: 363px;
                    margin-bottom: 24px;
                    position: relative;
                    & > img {
                        width: 100%;
                    }
                    & > .slider-control {
                        & > button {
                            position: relative;
                            &:first-child {
                                position: absolute;
                                left: 0;
                                transform: translateY(-50%);
                                top: 50%;
                            }
                            &:last-child {
                                position: absolute;
                                right: 0;
                                top: 50%;
                                transform: translateY(-50%) rotate(180deg);
                            }
                        }
                    }
                    // &::before {
                    //     content: url(/src/images/icons/slider-arrow-blue.svg);
                    //     position: absolute;
                    //     left: 0;
                    //     top: 50%;
                    // }
                    // &::after {
                    //     content: url(/src/images/icons/slider-arrow-blue.svg);
                    //     position: absolute;
                    //     right: 0;
                    //     transform: rotate(180deg);
                    // }
                }
                &--info {
                    overflow: hidden;
                    & > ul {
                        display: flex;
                        overflow-x: auto;
                        -webkit-overflow-scrolling: touch;
                        &::-webkit-scrollbar {
                            display: none;
                        }
                        & > li {
                            margin: 0 12px;
                            &:first-child {
                                margin-left: 0;
                            }
                            &:last-child {
                                margin-right: 0;
                            }
                            & > button {
                                padding: 0;
                            }
                            img {
                                height: 110px;
                                object-fit: cover;
                                width: 164px;
                            }
                        }
                    }
                }
            }
            &__footer {
                &--holder {
                    position: relative;
                    margin-bottom: 36px;
                    .product-includes {
                        padding-left: 56px;
                        & > h6 {
                            color: $neutrals-n250;
                            margin-bottom: 6px;
                        }
                        & > ul {
                            & > li {
                                @extend .common-text-body-1;
                                margin-bottom: 4px;
                            }
                        }
                    }
                    &::before {
                        content: url(/src/images/icons/cleaning-icon.svg);
                        position: absolute;
                    }
                }
                &--share {
                    @include flexbox(initial, center);
                    & > h6 {
                        color: $neutrals-n250;
                    }
                    & > ul {
                        display: flex;
                        & > li {
                            @include flexbox(initial, center, center);
                            width: 24px;
                            height: 24px;
                            margin: 0 16px;
                        }
                    }
                }
            }
        }
        .product-description {
            width: calc(100% - 540px);
            &__title {
                & > span {
                    @extend .common-text-sub;
                    color: $secondary-s50;
                }
                & > h3 {
                    line-height: 120%;
                    margin: 16px 0 8px;
                }
                & > p {
                    margin: 0 0 16px;
                }
            }
            &__detail {
                & > span {
                    @extend .common-text-sub;
                    color: $neutrals-n200;
                    margin-bottom: 16px;
                }
                & > .write-review {
                    display: flex;
                    margin-bottom: 18px;
                    &  > .rate {
                        @include flexbox(initial, center);
                        margin-right: 16px;
                        .rate-stars {
                            margin-right: 5px;
                        }
                        .rate-counts {
                            @extend .common-text-sub;
                            color: $neutrals-n200;
                            font-size: 10px;
                            line-height: 140%;
                        }
                    }
                    & > button {
                        @extend .common-text-body-1;
                        color: $secondary-s75;
                    }
                }
                & > p {
                    @extend .common-text-body-1;
                    margin: 0 0 20px;
                }
                & > ul.product-info-list {
                    margin-bottom: 19.5px;
                    li {
                        @extend .common-text;
                        color: $neutrals-n225;
                        letter-spacing: initial;
                        padding: 11.5px 0;
                        &:last-child {
                            padding-bottom: 0;
                        }
                        &::before {
                            content: url(/src/images/check-blue.svg);
                            margin-right: 20px;
                        }
                    }
                }
                .select-container {
                    margin-bottom: 16px;
                    &__option--selected {
                        border: 1px solid #E8E9F1;
                        border-radius: 5px;
                        display: flex;
                        justify-content: space-between;
                        padding: 7px 8px;
                        width: 234px;
                    }
                }
                &--color {
                    margin-bottom: 24px;
                    & > span {
                        @extend .common-text-sub;
                    }
                    .fill-color {
                        & > button {
                            border: 1px solid $neutrals-n200;
                            border-radius: 25px;
                            height: 24px;
                            margin: 0 4px;
                            padding: 4px;
                            position: relative;
                            width: 24px;
                            &::before {
                                content: '';
                                border-radius: 25px;
                                height: 16px;
                                left: 50%;
                                width: 16px;
                                position: absolute;
                                top: 50%;
                                transform: translate(-50%, -50%);
                            }
                            &:first-child {
                                margin-left: 0;
                            }
                            &:last-child {
                                margin-right: 0;
                            }
                        }
                        & > button.grey {
                            &::before {
                                background-color: $neutrals-n075;
                            }
                        }
                        & > button.dark-grey {
                            &::before {
                                background-color: $neutrals-n125;
                            }
                        }
                    }
                }
                &--button {
                    display: flex;
                    & > button {
                        margin: 0 8px;
                        &:first-child {
                            margin-left: 0;
                        }
                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }
}
.product-logistic {
    background-color: $primary-light-blue;
    padding: 112px 0;
    &__holder {
        @include flexbox(initial, initial, center);
        .logistic-item {
            width: 25%;
            position: relative;
            &::before {
                position: absolute;
                height: 32px;
                width: 32px;
            }
            &:nth-child(1) {
                &::before {
                    content: url(/src/images/icons/warranty-duration.svg);
                }
            }
            &:nth-child(2) {
                &::before {
                    content: url(/src/images/icons/shipping.svg);
                }
            }
            &:nth-child(3) {
                &::before {
                    content: url(/src/images/icons/return.svg);
                }
            }
            &:nth-child(4) {
                &::before {
                    content: url(/src/images/icons/partner.svg);
                }
            }
            &__card {
                padding-left: 46px;
                & > h6 {
                    font-weight: normal;
                    margin-bottom: 8px;
                }
                & > ul {
                    & > li {
                        @extend .common-text-body-1;
                        margin-bottom: 8px;
                        & > a {
                            @extend .common-text;
                            color: $primary-p150;
                            display: inline-flex;
                            letter-spacing: initial;
                            line-height: 100%;
                            height: 20px;
                            position: relative;
                            &::before {
                                content: '';
                                position: absolute;
                                width: 100%;
                                bottom: 0;
                                height: 1px;
                                background-color: $primary-p150;
                            }
                        }
                    }
                }
            }
        }
    }
}