.pagination {
    margin-top: 56px;
    & > ul {
        @include flexbox(initial, center, center);
        svg {
            stroke: $primary-p150;
        }
        li {
            a {
                height: 20px;
                margin: 0 8.5px;
                display: inline-flex;
                font-size: 16px;
                letter-spacing: 0.02em;
                line-height: 100%;
                position: relative;
                color: #231F20;
            }
            &:first-child {
                a {
                    align-items: center;
                    margin-right: 14.5px;
                    svg {
                        transform: rotate(-180deg);
                    }
                }
            }
            &:last-child {
                a {
                    margin-left: 14.5px;
                    align-items: center;
                }
            }
            &.active a::after {
                content: '';
                position: absolute;
                width: 100%;
                bottom: 0;
                height: 2px;
                background-color: $secondary-s50;
            }
            &.no-previous, &.no-next {
                svg {
                    stroke: #C7C7C7;
                }
            }
            &.more a {
                cursor: default;
            }
        }
    }
}