.product-listing {
    background-color: $primary-light-blue;
    padding-top: 64px;
    padding-bottom: 72px;
    .product-search {
        @include flexbox(column, flex-start, initial);
        margin-bottom: 42px;
        @include maxpoint($tablet) {
            @include flexbox(initial, center, space-between);
        }
        & > h2 {
            font-size: 36px;
            margin-bottom: 19px;
            @include maxpoint($tablet) {
                font-size: 54px;
                margin-bottom: 0;
            }
        }
        > .form-holder {
            width: 100%;
            @include maxpoint($tablet) {
                width: 258px;
            }
        }
    }
    .product-holder {
        display: flex;
        .product-filter {
            visibility: hidden;
            opacity: 0;
            position: fixed;
            background-color: #fff;
            z-index: 10;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            overflow: auto;
            height: 100vh;
            width: 100%;
            padding: 24px 16px;
            @include maxpoint($tablet) {
                background: none;
                height: auto;
                margin-right: 42px;
                padding: 0;
                position: initial;
                overflow: initial;
                visibility: visible;
                opacity: 1;
                width: 240px;
                z-index: 0;
            }
            &.show {
                visibility: visible;
                opacity: 1;
            }
            & > div {
                border-bottom: 1px solid $neutrals-n100;
                padding-bottom: 24px;
                margin-bottom: 24px;
                &:last-child {
                    border-bottom: none;
                    padding-bottom: 0;
                    margin-bottom: 0;
                }
                & > span {
                    @extend .common-text-sub;
                    color: $neutrals-n250;
                    font-size: 11px;
                    margin-bottom: 12px;
                }
            }
            & > div.product-filter__price {
                border-bottom: none;
            }
            & > .product-mobile-buttons {
                display: flex;
                padding-top: 21px;
                & > button {
                    margin: 0 4px;
                    &:first-child {
                        margin-left: 0
                    }
                    &:last-child {
                        margin-right: 0
                    }
                }
                @include maxpoint($tablet) {
                    display: none;
                }
            }
            &__heading {
                @include flexbox(initial, center, space-between);
                & > button.clear-filter {
                    @include flexbox(initial, center, center);
                    height: 30px;
                    width: 71px;
                    display: none;
                    @include maxpoint($tablet) {
                        display: flex;
                    }
                }
                & > button.close-filter-mobile {
                    display: block;
                    @include maxpoint($tablet) {
                        display: none;
                    }
                }
            }
            .range-area {
                p {
                    color: $neutrals-n175;
                    span {
                        &:nth-child(2) {
                            color: $neutrals-n225;
                        }
                    }
                }
                .custom-range {
                    margin: 1em 0;
                }
            }
        }
        .product-sortby {
            width: 100%;
            @include maxpoint($tablet) {
                width: calc(100% - 240px);
            }
            &__filter {
                @include flexbox(initial, center, space-between);
                margin-bottom: 32px;
                & > .filter-button {
                    visibility: visible;
                    opacity: 1;
                    @include maxpoint($tablet) {
                        visibility: hidden;
                        opacity: 0;
                    }
                    button {
                        @extend .common-text;
                        color: $primary-p150;
                        padding-left: 26px;
                        position: relative;
                    }
                    &::before {
                        content: url(/src/images/icons/filter-icon.svg);
                        position: absolute;
                    }
                }
                & > .sortby-filter {
                    @include flexbox(initial, initial, flex-end);
                    & .select-container > .select-container__option--selected {
                        @extend .common-text;
                        color: $primary-p150;
                        line-height: 160%;
                        letter-spacing: 0.02em;
                    }
                    & > label {
                        @extend .common-text;
                        line-height: 160%;
                        letter-spacing: 0.02em;
                        padding-right: 5px;
                    }
                }
            }
            &__products {
                & > .cards {
                    & > .card {
                        width: 50%;
                        @include maxpoint($tablet) {
                            width: 50%;
                        }
                        @include maxpoint($desktop) {
                            width: 33.33%;
                        }
                    } 
                }
            }
        }
    }
}