.product-features {
    position: relative;
    background-color: $primary-p150; 
    color: $neutrals-n000;
    padding: 40px 8px 75px;
    overflow: hidden;

    @include maxpoint($tablet) {
        padding: 56px 80px 89px;
    }

    .box {
        padding-top: 72px;
        position: relative;
        @include flexbox(column, initial, initial);

        @include maxpoint($desktop-md) {
            @include flexbox(row-reverse, center, space-around);
            flex-wrap: nowrap;
        }
    }
    &__content {
        position: relative;
        width: 100%;
        max-width: 511px;

        @include maxpoint($desktop-md) {
            flex-basis: 50%;
            max-width: 390px;
        }
        @include maxpoint($desktop-md) {
            max-width: 511px;
        }
        span {
            color: $neutrals-n000;
            @extend .common-text-sub;
        }
        h3 {
            color: $neutrals-n000;
            margin: 16px 0;

            @include maxpoint($desktop-md) {
                font-size: 40px;
                line-height: 44px;
            }
        }
        p {
            margin-bottom: 24px;
            @include maxpoint($desktop-md) {
                margin-bottom: 82px;
            }
        }

    }
    &__image {
        width: 100%;

        @include maxpoint($desktop-md) {
            max-width: 540px;
            flex-basis: 50%;
            margin-bottom: -90px;
        }
        img {
            z-index: 4;
            object-fit: cover;
            min-height: 284px;
            max-height: 538px;
            width: 100%;

            @include maxpoint($desktop-md) {
                min-height: 538px;
                max-width: 540px;
            }
            
        }
    }
    &__pointer {
        background: url('/dist/images/pointer-mobile.svg');
        background-repeat: no-repeat;
        width: 142px;
        height: 64px;
        position: absolute;
        margin: -25px 0 0 130px;

        @include maxpoint($desktop-md) {
            display: none;
        }
        &--desktop {
            display: none;

            @include maxpoint($desktop-md) {
                background: url('/dist/images/pointer-desktop.svg');
                background-repeat: no-repeat;
                width: 235px;
                height: 30px;
                position: absolute;
                bottom: 105px;
                display: block;
                left: 415px;
            }
        }
    }
    &__slider {
        width: 100%;
        position: inherit;

        @include maxpoint($desktop) {
            display: flex;
            flex-basis: 50%;
            position: inherit;
        }
    }
    &__excerpt {
        color: $neutrals-n000;
        position: relative;
        max-width: 246px;
        padding-bottom: 64px;
        margin-top: 31px;

        @include maxpoint($desktop-md) {
            display: none;            
        }
        &--desktop {
            display: none;

            @include maxpoint($desktop-md) {
                display: block;
                flex-basis: 50%;            
            }
        }
        

        span {
            display: block;
            margin-bottom: 8px;
            @extend .common-text-sub;
        }
        p {
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0;
        }
    }
    .slick-track {
        width: max-content !important;
    }
    .slick-arrow {
        top: 0;
        right: 0;
    }
    .slick-prev {
        right: 64px;
    }
}