.product-instructions {
    position: relative;
    padding: 40px 0 32px;
    overflow: hidden;

    @include maxpoint($tablet) {
        padding: 111px 0 64px;
    }

    > div {
        @include maxpoint($tablet) {
            margin-left: 44px;
        }
        @include maxpoint($desktop-md) {
            margin-left: 88px;
        }
    }

    &__title {
        margin-bottom: 40px;
        padding: 0 16px;

        @include maxpoint($tablet) {
            padding: 0;
        }
        h3 {
            color: $primary-p150;
            margin-bottom: 8px;

            @include maxpoint($tablet) {
                font-size: 40px;
                line-height: 44px;
            }
        }
        p {
            color: $neutrals-n200;
        }
        a {
            color: $secondary-s75;
            border-bottom: 1px solid $secondary-s75;
            padding-bottom: 4px;
        }
    }

    .step {
        margin: 7px 16px 0;
        position: relative;
        padding-bottom: 48px;
        height: auto;
        max-width: fit-content;

        @include maxpoint($tablet) {
            margin: 0 52px 0 24px;
            max-width: 230px;
            padding: 0;
        }
        @include maxpoint($desktop-md) {
            max-width: 324px;
        }
        > div {
            font-size: 13px;
        }
        span {
            color: $primary-p150;
            @extend .common-text-sub;
        }
        h5 {
            color: $neutrals-n250;
            font-size: 27px;
            line-height: 27px;
            margin: 8px 0;
        }
        p {
            color: $neutrals-n200;
            margin-bottom: 40px;

            @include maxpoint($tablet) {
                margin: 0;    
            }
        }
    }
    #installation-slider {
        position: relative;
        box-sizing: border-box;
        touch-action: pan-y;
        user-select: none;
        display: flex;
        @include maxpoint($tablet) {
            margin: 0;
        }
    }
    // #installation-slider li {
    //     flex-wrap: wrap !important;
    //     @include flexbox(initial, center, initial);

    //     @include maxpoint($desktop) {
    //         flex-wrap: nowrap;
    //     }
    // }
    .slick-track {
        width: max-content !important;
    }
    .slick-list {
        transform: translate3d(0, 0, 0);
    }
    .slick-arrow {
        position: absolute;
        bottom: 0;
        left: 50%;

        @include maxpoint($tablet) {
            top: 0;
            left: 631px;
        }
        @include maxpoint($desktop-md) {
            left: 950px;
        }
    }
    .slick-prev {
        left: 30%;

        @include maxpoint($tablet) {
            left: 569px;
        }
        @include maxpoint($desktop-md) {
            left: 886px;
        }
    }
    .slick-slide {
        display: flex;
        align-items: center;
        position: relative;
        flex-wrap: wrap;
    }
    .slick-slide > div {
        width: 100%;
    }
    .slick-slider div li {
        @include maxpoint($tablet) {
            display: flex !important;
            align-items: center;
        }
    }
    .slick-slider div li img {
        object-fit: cover;
        min-height: 215px;
        display: block;
        width: 100%;

        @include maxpoint($tablet) {
            height: 350px;
            max-width: 430px;
        }
        @include maxpoint($desktop-md) {
            max-width: 634px;
            height: 426px;
        }
    }
}