.reviews {
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #E9EEF4 100%);
    padding: 40px 0 44px;
    
    &__title {
        color: $primary-p150;
        text-align: center;
        margin: 0 0 62px;
        
        h3 {
            line-height: 44px;
            margin-bottom: 11px;
        }
    }
    .rate img {
        width: 18px;
    }
    .rate .rate-counts,
    .rate h6 {
        color: $secondary-s75;
        font-size: 22px;
        line-height: 26px;
        font-weight: 300;
    }
    .rate .rate-counts,
    .rate h6 {
        display: inline;
        
    }

    .cards {
        @include flexbox(row, initial, flex-start);
        margin: 0 0 24px;
        flex-wrap: nowrap;
        overflow: hidden;

        @include maxpoint($tablet) {
            justify-content: center;
        }
        @include maxpoint($desktop) {
            flex-wrap: wrap;
        }
    }
    .cards .card {
        max-width: 258px;
        min-width: 242px;
        padding: 0;
        margin: 0 12px;
        &:first-child {
            margin-left: 8px;
        }
        &:last-child {
            margin-right: 8px;
        }
        @include maxpoint($tablet) {
            min-width: auto;
            width: 100%;
        }
    }
    .cta {
        text-align: center;
        margin: 24px 0 0;

        .o-button {
            height: 45px;
            width: 156px;
            display: block;
            padding: 15px 0 9px;
            line-height: 21px;
            margin: 0 auto;
        }
    }

    .pagination {
        margin-top: 24px;
    }
}