.search-main {
    background-color: $primary-light-blue;
    padding-top: 64px;
    padding-bottom: 72px;
    h3 {
        line-height: 110%;
        font-size: 32px;
        margin-bottom: 16px;
        @include maxpoint($tablet) {
            font-size: 40px;
            margin-bottom: 0;
        }
    }
    .search-holder {
        &__text {
        }
        &__search {
            @include flexbox(column-reverse, flex-start, initial);
            @include maxpoint($tablet) { 
                @include flexbox(initial, flex-end, space-between);
            }
            p.h6 {
                color: $neutrals-n225;
                font-size: 18px;
                @include maxpoint($tablet) {
                    font-size: 22px;
                }
            }
            & > form {
                width: 100%;
                margin-bottom: 16px;
                @include maxpoint($tablet) {
                    margin-bottom: 0;
                    width: 352px;
                }
            }
        }
    }
    .search-content {
        &__result {
            margin-top: 40px;
            & > .cards {
                & > .card {
                    width: 50%;
                    @include maxpoint($tablet) {
                        width: 33.33%;
                    }
                    @include maxpoint($desktop) {
                        width: 25%;
                    }
                }
            }
        }
        &__noresult {
            @include flexbox(column, center);
            margin-top: 118px;
            padding-bottom: 123px;
            & > h3 {
                margin-bottom: 8px;
            }
            & > p {
                @extend .common-text-body-1;
                margin-bottom: 36px;
                margin-top: 0;
                text-align: center;
                width: 290px;
            }
            & > .button-holder {
                display: inline-flex;
                & > a {
                    width: 164px;
                    margin: 0 8px;
                    @include maxpoint($tablet) {
                        margin: 0 10px;
                    }
                    &:first-child {
                        margin-left: 0;
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}