.shop-section {
    background-color: $primary-light-blue;
    position: relative;
    &::before {
        content: '';
        background-image: url(/src/images/shop-hero.png);
        background-size: contain;
        background-repeat: no-repeat;
        display: block;
        height: 329px;
        margin: 0 auto;
        position: relative;
        width: 100%;
        @media only screen and (min-width: 440px) { 
            width: 327px
        }
        @media only screen and (min-width: 924px) {
            background: none;
            content: url(/src/images/shop-hero.png);
            position: absolute;
            right: 0;
            top: 0;
            width: auto;
        }
    }
    .heading-content {
        @include flexbox(column-reverse, center);
        height: auto;
        margin-bottom: 45px;
        @include maxpoint($desktop) {
            @include flexbox(initial, center);
            height: 441px;
        }
        &__description {
            margin-top: 27px;
            width: 100%;
            @media only screen and (min-width: 924px) {
                margin-top: 0;
                width: 343px;
            }
            @media only screen and (min-width: 1170px) {
                width: 551px;
            }
            & > h2 {
                line-height: 95%;
                font-size: 36px;
                padding-bottom: 22px;
                margin-bottom: 24px;
                position: relative;
                @include maxpoint($desktop) {
                    font-size: 54px;
                }
                &::after {
                    content: "";
                    background-color: $secondary-s50;
                    bottom: 0;
                    height: 1px;
                    position: absolute;
                    width: 100%;
                    left: 0;
                }
            }
            & > span {
                @extend .common-text-body-1;
                background-color: $secondary-green;
                border: 1px solid #CEE7E0;
                border-radius: 5px;
                color: $secondary-s50;
                padding: 6px 51px;
            }
            & > p {
                @extend .common-text-body-1;
                margin-top: 16px;
            }
        }
        &__image {
            position: relative;
            right: 0;
            width: 100%;
            @include maxpoint($desktop) {
                right: -88px;
                width: calc(100% - 551px);
            }
            & > img {
                width: 100%;
            }
        }
    }
    .shop-products {
        &__sortby {
            @include flexbox(initial, initial, flex-start);
            margin-bottom: 30px;
            @include maxpoint($tablet) {
                @include flexbox(initial, initial, flex-end);
            }
            & .select-container > .select-container__option--selected {
                @extend .common-text;
                color: $primary-p150;
                line-height: 160%;
                letter-spacing: 0.02em;
            }
            & > label {
                @extend .common-text;
                line-height: 160%;
                letter-spacing: 0.02em;
                padding-right: 5px;
            }
        }
        & > .cards {
            & > .card {
                width: 50%;
                @include maxpoint($tablet) {
                    width: 33.33%;
                }
                @include maxpoint($desktop) {
                    width: 25%;
                }
            }
        }
    }
}