.social-media {
    padding-top: 40px;
    padding-bottom: 40px;
    .o-container {
        padding-left: 16px;
        padding-right: 16px;
        @include maxpoint($tablet) {
            padding-left: 32px;
            padding-right: 32px;
        }
    }
    &__heading {
        @include flexbox(column, flex-start);
        @include maxpoint($tablet) {
            @include flexbox(initial, center, space-between);
        }
        h5 {
            font-size: 22px;
            margin-bottom: 24.5px;
            @include maxpoint($tablet) {
                font-size: 27px;
                margin-bottom: 0;
            }
        }
        &--fb {
            @include flexbox();
            &::before {
                content: url(/src/images/icons/blue-fb.svg);
            }
            a {
                @extend .common-h6;
                color: $primary-p150;
                margin-left: 16px;
            }
        }
    }
}
.social-media-content {
    &__holder {
        @include flexbox(column);
        @include maxpoint($tablet) {
            @include flexbox(row);
        }
        &--img {
            width: 100%;
            @include maxpoint($tablet) {
                width: 25%;
            }
            img {
                width: 100%;
            }
        }
    }
}