.specifications {
    padding: 48px 0 56px;

    &__content {
        text-align: center;

        h3 {
            color: $primary-p150;
            line-height: 44px;
        }
        p {
            color: $neutrals-n225;
            margin: 8px 0 24px;
        }
    }
}