.table-list {
    max-width: 696px;
    margin: 0 auto;
    
    &--inner {
        margin-top: 12px;
    }
    &__item {
        font-weight: 500;
        font-size: 16px;
        
        button {
            font-weight: 500;
            font-size: 16px;
            line-height: 22px;
            color: $primary-p150;
            padding: 0;
            position: relative;
            &::after {
                content: url('/dist/images/icons/chevron-up.svg');
                position: absolute;
                top: 3px;
                height: 16px;
                width: 16px;
                margin-left: 11px;
            }
        }
        button.open::after {
            transform: rotate(180deg);
        }   
        &--inner {
            @include flexbox(initial, initial, space-between);
            padding-bottom: 9px;
            border-bottom: 1px solid #757AAD;
            margin-bottom: 16px;
            transition: 3s ease-out;    

            &:last-child {
                margin-bottom: 24px;
            }
            &:only-child {
                margin-bottom: 0;
            }

            p {
                font-size: 14px;
                line-height: 20px;
                color: $neutrals-n225;

                &:first-child {
                    text-transform: uppercase;
                }
            }
        }
    }
}