.type-of-space {
    padding-top: 56px;
    padding-bottom: 112px;
    .o-container {
        padding-right: 0;
    }
    &__text {
        margin: auto;
        text-align: center;
        width: 516px;
        span {
            @extend .common-text-sub;
            color: $secondary-s50;
            margin-bottom: 8px;
        }
        h4 {
            margin-bottom: 8px;
        }
        p {
            margin-bottom: 35px;
        }
    }
}