.header {
  &--nav {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  }
  &--breadcrumbs-nav {
    background: #F7F7F7;
    padding: 11px 0 9px;

    li {
      display: inline-block;
      & + li::before {
        content: ">";
        // content: url('../images/separator.png');
        padding: 0 16.5px;
      }

      a {
        // font-family: Founders Grotesk;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 18px;
        letter-spacing: 0.01em;
        color: #23419A;
      }

      &.active {
        a {
          color: #333333;
        }
      }
    }
  }
}
.my-cart {
  background-color: #ffffff;

  h2 {
    // font-family: Founders Grotesk;
    font-style: normal;
    font-weight: normal;
    font-size: 54px;
    line-height: 51px;
    color: #192177;
    margin: 8px 0px;
  }

  h6 {
    // font-family: Founders Grotesk;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    color: #333333;
    margin: 8px 0px;
  }

  &__item {
    &--desc {
      padding: 26px 32px;
      h6 {
        // font-family: Founders Grotesk;
        font-style: normal;
        font-weight: 300;
        font-size: 22px;
        line-height: 26px;
        color: #1C1E23;
        margin: 8px 0px;

        span {
          font-family: Open Sans Condensed;
          font-style: normal;
          font-weight: bold;
          font-size: 11px;
          line-height: 13px;
          letter-spacing: 0.08em;
          text-transform: uppercase;
          color: #575757;
          margin: 8px 0px;
        }
      }
      p {
        span {
          display: block;
        }
      }
    }
    &--img {
      margin-right: 32px;
    }
    &--amt {
      p {
        // font-family: Founders Grotesk;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 18px;
        letter-spacing: 0.01em;
        color: #575757;
      }
    }
    &--qty {
      .qty-minus {
        border-radius: 5px 0px 0px 5px;
      }
      .qty-plus {
        border-radius: 0px 5px 5px 0px;
      }

      input {
        // font-family: Founders Grotesk;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 37px;
        color: #1C1E23;
        background-color: #F9FCFD;
      }
      img {
        vertical-align: middle;
      }
    }
  }

  &__cta-button {
    padding-top: 44px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

    .btn {
      width: 259px;
      margin: 0;

      &:first-of-type {
        margin-right: 12px;
        margin-left: 0;
      }
      &:last-of-type {
        margin-left: 12px;
        margin-right: 0;
      }
    }
  }

  .table {
    // background: #ffffff;
    // border-radius: 0.6em;
    overflow: hidden;
    clear: both;
    margin-top: 35px;
    margin-bottom: 1.8em;
    background: #FFFFFF;
    border: 1px solid #D7D7D7;
    box-sizing: border-box;
    border-radius: 5px;
  }


  .layout-inline {
    & > * {
      display: inline-block;
    }
    & > p {
      margin: 0;
      position: relative;
    }
  }

  .th {
    background: #f34d35;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5em;
  }

  .tf {
    background: #f34d35;
    text-transform: uppercase;
    text-align: right;
    font-size: 1.2em;  
  }

  .tf p {
    color: #fff;
    font-weight: bold;
  }

  .col {
    padding: 26px 32px;
    width: 20%;
  }

  .col-pro {
    width: 44%;

    img {

    }
  }

  .col-pro > * {
    vertical-align: middle;
  }

  .col-qty {
    text-align: center;
    width: 25%;
    letter-spacing: -4px;
  }

  .col-numeric p {
    // font: bold 1.8em helvetica;
  }

  .col-total p {
    color: #12c8b1;
  }

  .tf .col {
    width: 20%;
  }

  .row > div {
    vertical-align: middle;
  }

  .row-bg2 {
    background: #f7f7f7;
  }

  .visibility-cart {
    position: absolute;
    color: #fff;
    top: 0.5em;
    right: 0.5em;
    font:  bold 2em arial;
    border: 0.16em solid #fff;
    border-radius: 2.5em;
    padding: 0 0.22em 0 0.25em ;
  }

  .col-qty > * {
    vertical-align: middle; 
  }

  .col-qty > input {
    max-width: 37px;
    padding: 0;
    text-align: center;
  }


  a.qty {
    width: 37px;
    line-height: 37px;
    // border-radius: 2em;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    background: #43ace3;  
    color: #23419A;
    background: #F9FCFD;
  }

  a.qty:hover {
    background: #D7D7D7;
    color: #ffffff;
  }

  // .btn {
  //   padding: 10px 30px;
  //   border-radius: 0.3em;
  //   font-size: 1.4em;
  //   font-weight: bold;
  //   background: #43ace3;
  //   color: #fff;
  //   box-shadow: 0 3px 0 rgba(59,154,198, 1)
  // }

  // .btn:hover {
  //   box-shadow: 0 3px 0 rgba(59,154,198, 0)
  // }

  // .btn-update {
  //   float: right;
  //   margin: 0 0 1.5em 0;
  // }

  .transition {
    transition: all 0.3s ease-in-out;
  }

  /* TOTAL AND CHECKOUT  */
  .subtotal {
    // float: right;
    // width: 35%;
    background: #F9FCFD;
    border-radius: 5px;
  }
  ul {
    padding: 12px 24px;

    &:first-of-type {      
      li {
        &:last-child {
          border-bottom: 1px solid #D7D7D7;
          padding-bottom: 28px !important;
        }
      }
    }

  }
  .subtotal .totalRow {
    padding: 12px 0 10px;
    text-align: left;
  }
  .subtotal .totalRow.final {
    font-size: 1.25em;
    font-weight: bold;
  }
  .subtotal .totalRow span {
    display: inline-block;
    // padding: 0 0 0 1em;
    text-align: left;
    width: 50%;
  }
  .subtotal .totalRow .label {
    // font-family: Founders Grotesk;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #23419A;

    &.total {
      // font-family: Founders Grotesk;
      font-style: normal;
      font-weight: normal;
      font-size: 22px;
      line-height: 26px;
      color: #1C1E23;
      letter-spacing: 1px;
      text-transform: none;
    }
  }
  .subtotal .totalRow .value {
    text-align: right;
    // font-family: Founders Grotesk;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.01em;
    color: #575757;
  }

  .shipping {
    padding: 0 24px;
    // border-bottom: 1px solid #D7D7D7;

    p {
      margin: 0;
      // font-family: Founders Grotesk;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 18px;
      letter-spacing: 0.01em;
      color: #575757;

      a {
        color: #23419A;
        border-bottom: 1px solid #23419A;
      }

      &:last-of-type {
        border-bottom: 1px solid #D7D7D7;
        padding-bottom: 17px;
      }
    }
  }
  @media only screen and (max-width: 39.375em) {
    .promoCode, .subtotal {
      width: 100%;
    }

  }

  @media screen and ( max-width: 755px) {
    .container {
      width: 98%;
    }
    
    .col-pro {
      width: 35%;
    }
    
    .col-qty {
      width: 22%;
    }
    
    img {
      max-width: 100%;
      margin-bottom: 1em;
    }
  }

  @media screen and ( max-width: 591px) {
    
  }
}

