html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: $primary-font;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}

main {
    min-height: 100%;
}

* {
    box-sizing: border-box;
    -webkit-appearance: none;
    outline: none;
}

figure {
    margin: 0;
}

ol, ul {
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

input {
    border: none;
}

button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
}
p {
    margin: 0;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.01em;
}
a {
    text-decoration: none;
}

span {
    display: inline-flex;
}

.common-text {
    color: $neutrals-n225;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0.01em;
    line-height: 140%;
}
.common-text-body-1 {
    color: $neutrals-n200;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0.01em;
    line-height: 110%;
}
.common-text-sub {
    font-family: $secondary-font;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 120%;
    letter-spacing: 0.08em;
    text-transform: uppercase;
}
.common-button {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 130%;
}
.common-h6 {
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 120%;
}
.common-button-text {
    a {
        @extend .common-button;
        color: $primary-p150;
        &::after {
            content: url(/src/images/icons/right-arrow.svg);
            padding-left: 16px;
        }
    }
}
.modal-backgdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $neutrals-n250;
    opacity: .5;
    z-index: 3;
    opacity: 0;
    visibility: hidden;
    transition: .3s ease;
    &.active {
        opacity: .5;
        visibility: visible;
        &.over {
            z-index: 5;
        }
    }
}
body {
    &.opened {
        overflow: hidden;
    }
}