// @import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap');
$primary-font: 'Founders Grotesk', sans-serif;
$secondary-font: 'Open Sans Condensed', sans-serif;

//Chap
@font-face {
    font-family: 'Founders Grotesk';
    src: url('/dist/fonts/FoundersGrotestTest-Regular.otf') format('otf');
    font-weight: 400;
    font-style: normal;
}

h1, .h1 {
    color: $primary-p150;
    font-size: 81px;
    font-weight: normal;
    line-height: 90%;
    margin: 0px;
}
h2, .h2 {
    color: $neutrals-n250;
    font-size: 54px;
    font-weight: normal;
    line-height: 100%;
    margin: 0px;
}
h3, .h3 {
    color: $neutrals-n225;
    font-size: 40px;
    font-style: normal;
    font-weight: normal;
    line-height: 110%;
    margin: 0px;
}
h4, .h4 {
    color: $neutrals-n225;
    font-size: 32px;
    font-weight: normal;
    line-height: 109%;
    margin: 0px;
}
h5, .h5 {
    color: $neutrals-n225;
    font-size: 27px;
    font-weight: normal;
    line-height: 100%;
    margin: 0px;
}
h6, .h6 {
    color: $neutrals-n225;
    font-size: 22px;
    font-weight: 300;
    line-height: 120%;
    margin: 0px;
}