.classic-form {
    .form-group {
        position: relative;
        margin-bottom: 16px;
        input {
            @extend .common-text;
            padding-left: 16px;
            padding-right: 19px;
            width: 100%;
            height: 42px;
            background-color: $neutrals-n000;
            border-radius: 5px;
            color: $neutrals-n125;
            border: 1px solid transparent;
            &:focus {
                border: 1px solid #4A8BED;
                border-radius: 5px;
            }
        }
    }
    .form-group.with-search {
        margin-bottom: 0;
        position: relative;
        &::before {
            content: url(/src/images/icons/search-input.svg);
            height: 16px;
            position: absolute;
            top: 10px;
            width: 16px;
            left: 18px;
        }
        & > input {
            padding-left: 48px;
        }
    }
}