$gap: 28px;
$mobile: 320px;
$tablet: 769px;
$desktop: 924px;
$desktop-md: 1152px + (2 * $gap);
$desktop-lg: 1344px + (2 * $gap);
$max-width: 1080px;
$gutter: 24px;

$breakpoints: (
  mobile: $mobile,
  tablet: $tablet,
  desktop: $desktop,
  desktop-md: $desktop-md,
  desktop-lg: $desktop-lg
);

// colors
$neutrals-n000: #ffffff;
$neutrals-n100: #C7C7C7;
$neutrals-n075: #D7D7D7;
$neutrals-n200: #575757;
$neutrals-n250: #1C1E23;
$neutrals-n225: #333333;
$neutrals-n150: #979797;
$neutrals-n175: #777777;
$neutrals-n125: #A7A7A7;
$neutrals-n050: #E7E7E7;
$primary-p75: #E8E9F1;
$primary-p150: #23419A;
$primary-light-blue: #F6F9FA;
$secondary-s75: #00A9E8;
$secondary-s50: #00906D;
$secondary-green: #CEE7E0;
$background-b75: #F9FCFD;
$outer-border: #CCE2EB;


$breaks: "320px" "768px" "mb", "769px" "924px" "tb", "925px" "2000px" "dt";

$sizes: ("320px" : "mb", "769px": "tb", "924px": "dt");

$breakpoints_raw: ( $mobile, $tablet, $desktop, $desktop-md, $desktop-lg );